USE [master]
GO
/****** Object:  Database [onckWWW]    Script Date: 5/31/2022 11:56:42 PM ******/
CREATE DATABASE [onckWWW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'onckWWW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\onckWWW.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'onckWWW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\onckWWW_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [onckWWW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [onckWWW]
GO
/****** Object:  Table [dbo].[loai_sp]    Script Date: 5/31/2022 11:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loai_sp](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten_loai_sp] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[san_pham]    Script Date: 5/31/2022 11:56:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[san_pham](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten_sp] [nvarchar](50) NULL,
	[don_gia] [float] NULL,
	[ma_loai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[loai_sp] ON 

INSERT [dbo].[loai_sp] ([id], [ten_loai_sp]) VALUES (1, N'Bistcu')
INSERT [dbo].[loai_sp] ([id], [ten_loai_sp]) VALUES (2, N'Cupcake')
INSERT [dbo].[loai_sp] ([id], [ten_loai_sp]) VALUES (3, N'Donut-Saler')
SET IDENTITY_INSERT [dbo].[loai_sp] OFF
GO
SET IDENTITY_INSERT [dbo].[san_pham] ON 

INSERT [dbo].[san_pham] ([id], [ten_sp], [don_gia], [ma_loai]) VALUES (1, N'Cookeyy', 50000, 3)
INSERT [dbo].[san_pham] ([id], [ten_sp], [don_gia], [ma_loai]) VALUES (2, N'Yean', 35000, NULL)
INSERT [dbo].[san_pham] ([id], [ten_sp], [don_gia], [ma_loai]) VALUES (6, N'Keysu', 50000, NULL)
SET IDENTITY_INSERT [dbo].[san_pham] OFF
GO
ALTER TABLE [dbo].[san_pham]  WITH CHECK ADD FOREIGN KEY([ma_loai])
REFERENCES [dbo].[loai_sp] ([id])
GO
USE [master]
GO
